Flask==2.3.3
Flask-SocketIO==5.3.6
opencv-python-headless==4.8.0.76
mediapipe==0.10.9
# CRITICAL: Tensorflow 2.15 fixes the 'batch_shape' error
tensorflow-cpu==2.16.1
# CRITICAL: Greenlet must be 2.0.2. Version 3.0+ crashes Eventlet!
greenlet==2.0.2
gunicorn==23.0.0
eventlet==0.33.3
Flask-SQLAlchemy
Flask-Login
Flask-Bcrypt
Flask-WTF
email_validator

